---
import "../styles/serviceHero.scss";
import "../styles/Hero.scss";
import devimage from "../../images/dev-service.jpg?url";
---

<section class="dev">
  <div class="dev__container">
    <div class="dev__top">
      <h1 class="dev__title">total product<br />development<br />solution</h1>
      <img src={devimage} alt="a developer writing code" />
    </div>
    <div class="hero__left--bottom dev__bottom">
      <div class="hero__exp dev__bottom--left">
        <h2 class="hero__exp--years dev__bottom--numbers">10Y</h2>
        <p class="hero__exp--desc dev__bottom--text">
          of focused <br />development effort
        </p>
      </div>
      <div class="hero__exp dev__bottom--mid">
        <h2 class="hero__exp--years dev__bottom--numbers">40+</h2>
        <p class="hero__exp--desc dev__bottom--text">
          projects <br />completed annualy
        </p>
      </div>
      <div class="hero__talk dev__bottom--right">
        <a class="talk-href" href="/Contact"
          ><div class="hero__talk--co">
            <span class="hero__talk--1">Let's Talk</span><span
              class="hero__talk--2">Let's Talk</span
            >
          </div>
          <svg
            class="hero__talk--svg"
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <g id="Speech Bubble">
              <path
                id="Vector"
                d="M4.01042 3.2083C2.68824 3.2083 1.60417 4.29237 1.60417 5.61455V18.4479C1.60417 19.7701 2.68824 20.8541 4.01042 20.8541H6.41667V24.758L12.2756 20.8541H20.0521C21.3743 20.8541 22.4583 19.7701 22.4583 18.4479V5.61455C22.4583 4.29237 21.3743 3.2083 20.0521 3.2083H4.01042ZM4.01042 4.81247H20.0521C20.5033 4.81247 20.8542 5.16338 20.8542 5.61455V18.4479C20.8542 18.8991 20.5033 19.25 20.0521 19.25H11.7869L8.02084 21.7627V19.25H4.01042C3.55925 19.25 3.20834 18.8991 3.20834 18.4479V5.61455C3.20834 5.16338 3.55925 4.81247 4.01042 4.81247Z"
                fill="#3C1206"></path>
            </g>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
