---
import "../styles/Contact.scss";
import "../styles/ContactHero.scss";
import Icon from "astro-icon";
---

<div class="message__circle"></div>
<section class="message">
  <div class="message__container">
    <div class="message__left">
      <span class="message__word-container">
        <h2 class="message__title-word">LET'S</h2>
      </span>
      <span class="message__word-container">
        <h2 class="message__left--colored message__title-word">BUILD</h2>
      </span>
      <span class="message__word-container">
        <h2 class="message__title-word message__title-word">AND</h2>
      </span>
      <span class="message__word-container">
        <h2 class="message__left--colored message__title-word">SCALE</h2>
      </span>
      <span class="message__word-container">
        <h2 class="message__title-word">IT</h2>
      </span>
    </div>

    <div class="message__right">
      <form id="contact__form" class="contact__form">
        <div class="contact__form--top">
          <span class="contact__form--input-co">
            <input
              type="text"
              class="contact__form__input"
              id="name"
              required
            />
            <label for="name">Full Name</label>
            <div class="contact__form--line"></div>
          </span>
          <span class="contact__form--input-co">
            <input
              type="text"
              class="contact__form__input"
              id="email"
              required
            />
            <label for="email">Email</label>
            <div class="contact__form--line"></div>
          </span>
        </div>

        <span class="contact__form--input-co contact__form--input-co--last">
          <textarea
            class="contact__form__input message__about-project"
            id="project"
            required></textarea>
          <label for="project" class="contact__form--project-label"
            >About Project</label
          >
          <div class="contact__form--line message__form--line-last"></div>
        </span>
      </form>
      <div class="contact__bottom message__form--bottom">
        <p>
          By sending this form I confirm that I have read and accept the <span
            >Privacy Policy</span
          >
        </p>
        <button type="submit" form="contact__form">
          <span>send message</span>
          <span>send message</span>
          <!-- <Icon class="message__form--icon" name="bi:send" /> -->
        </button>
      </div>
    </div>
    <div class="message__respond">
      <span>
        <Icon class="message__respond--icon" name="ri:check-fill" />
      </span>
      <p>we will response within 24 hours</p>
    </div>
  </div>
</section>
<script>
  import gsap from "gsap";
  const tl = gsap.timeline();
  tl.to(".message__right", {
    rotateX: 0,
    opacity: 1,
  }).to(
    ".message__title-word",
    {
      translateY: 0,
      duration: 0.5,
      stagger: 0.15,
      ease: "back.out",
    },
    "<"
  );
</script>
