---
import "../styles/Nav.scss";
import Dropdown from "./Dropdown.astro";
---

<header class="header">
  <a href="/" class="header__logo out">
    <svg viewBox="0 0 144 31" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M12.5 9C12.5 9 13.24 11.65 13.24 13.8C13.24 15.86 11.89 17.53 9.83 17.53C7.76 17.53 6.2 15.86 6.2 13.8L6.23 13.44C4.21 15.84 3 18.95 3 22.33C3 26.75 6.58 30.33 11 30.33C15.42 30.33 19 26.75 19 22.33C19 16.94 16.41 12.13 12.5 9ZM10.71 27.33C8.93 27.33 7.49 25.93 7.49 24.19C7.49 22.57 8.54 21.43 10.3 21.07C12.07 20.71 13.9 19.86 14.92 18.49C15.31 19.78 15.51 21.14 15.51 22.53C15.51 25.18 13.36 27.33 10.71 27.33Z"
        fill="#F24E1E"></path>
      <path
        d="M41.9314 27.9286H36.4154L33.3074 21.9646C33.2514 21.8713 33.102 21.6099 32.8594 21.1806C32.6354 20.7513 32.3834 20.3406 32.1034 19.9486V27.9286H27.0634V11.9686H32.1034V19.2206C32.4207 18.8659 32.6914 18.4833 32.9154 18.0726C33.158 17.6433 33.298 17.3913 33.3354 17.3166L36.3314 11.9686H41.6514L38.4594 17.3166C38.4034 17.3913 38.282 17.5873 38.0954 17.9046C37.9087 18.2219 37.7034 18.5206 37.4794 18.8006C37.274 19.0619 37.05 19.3046 36.8074 19.5286C37.1434 19.8459 37.414 20.1633 37.6194 20.4806C37.8434 20.7793 38.0954 21.1806 38.3754 21.6846L41.9314 27.9286ZM43.1962 11.9686H48.2362V27.9286H43.1962V11.9686ZM59.4425 27.9286H54.4025V15.4686H49.8945V11.9686H63.9505V15.4686H59.4425V27.9286ZM65.5907 11.9686H70.6307V27.9286H65.5907V11.9686ZM73.409 11.9686H78.449V24.2326H84.973V27.9286H73.409V11.9686ZM96.0214 24.4286H91.3734L90.5334 27.9286H85.3814L90.5334 11.9686H97.1134L102.041 27.9286H96.8614L96.0214 24.4286ZM93.6694 15.4126L92.0174 21.3206H95.3494L93.7814 15.4126H93.6694ZM113.794 19.5006C115.063 19.6499 115.968 20.0793 116.51 20.7886C117.051 21.4793 117.322 22.3193 117.322 23.3086C117.322 23.9246 117.228 24.5126 117.042 25.0726C116.855 25.6139 116.631 26.0806 116.37 26.4726C116.108 26.8459 115.884 27.0886 115.698 27.2006C114.951 27.6859 112.674 27.9286 108.866 27.9286H103.434V11.9686H110.014C111.507 11.9686 112.711 12.0526 113.626 12.2206C114.559 12.3699 115.315 12.7246 115.894 13.2846C116.472 13.8259 116.762 14.6566 116.762 15.7766C116.762 16.7473 116.519 17.5313 116.034 18.1286C115.567 18.7259 114.82 19.1366 113.794 19.3606V19.5006ZM111.554 15.3566C111.367 15.1699 111.143 15.0579 110.882 15.0206C110.639 14.9646 110.247 14.9366 109.706 14.9366C109.164 14.9366 108.754 14.9459 108.474 14.9646V18.3806H108.754C108.847 18.3806 109.239 18.3806 109.93 18.3806C110.62 18.3806 111.078 18.3339 111.302 18.2406C111.47 18.1659 111.619 17.9699 111.75 17.6526C111.899 17.3353 111.974 16.9899 111.974 16.6166C111.974 16.0566 111.834 15.6366 111.554 15.3566ZM112.03 24.7086C112.16 24.5966 112.263 24.3913 112.338 24.0926C112.431 23.7753 112.478 23.4579 112.478 23.1406C112.478 22.7486 112.422 22.3846 112.31 22.0486C112.216 21.6939 112.086 21.4419 111.918 21.2926C111.75 21.1246 111.507 21.0126 111.19 20.9566C110.891 20.9006 110.378 20.8726 109.65 20.8726C109.183 20.8726 108.791 20.8819 108.474 20.9006V24.9606C109.351 24.9793 110.135 24.9699 110.826 24.9326C111.516 24.8766 111.918 24.8019 112.03 24.7086Z"
        fill="white"></path>
    </svg>
  </a>
  <nav class="nav">
    <ul class="nav__list">
      <li>
        <a href="/" text-data="HOME" class="out" data-astro-reload>HOME</a>
      </li>
      <li>
        <a
          href="/"
          text-data="SERVICES"
          is-expanded="false"
          class="services-drop"
          >SERVICES <svg
            viewBox="0 0 1024 1024"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="m488.832 344.32l-339.84 356.672a32 32 0 0 0 0 44.16l.384.384a29.44 29.44 0 0 0 42.688 0l320-335.872l319.872 335.872a29.44 29.44 0 0 0 42.688 0l.384-.384a32 32 0 0 0 0-44.16L535.168 344.32a32 32 0 0 0-46.336 0z"
            ></path>
          </svg></a
        >
      </li>
      <li><a href="/Projects" text-data="PROJECTS" class="out">PROJECTS</a></li>
      <li><a href="/" text-data="BLOG" class="out">BLOG</a></li>
      <li class="line"></li>
    </ul>
  </nav>
  <!-- Mobile nav -->
  <nav class="mobNav">
    <ul class="mobNav__list hidden">
      <li><a class="mobNav--links" href="/" class="out">HOME</a></li>
      <li>
        <a class="mobNav--links" href="Development" class="out">DEVELOPMENT</a>
      </li>
      <li><a class="mobNav--links" href="/Design" class="out">DESIGN</a></li>
      <li>
        <a class="mobNav--links" href="/Marketing" class="out">MARKETING</a>
      </li>
      <li>
        <a class="mobNav--links" href="/Projects" class="out">PROJECTS</a>
      </li>
      <li><a class="mobNav--links" href="/" class="out">REVIEWS</a></li>
      <li class="mobNav__line mobNav__line--1"></li>
      <li class="mobNav__line mobNav__line--2"></li>
      <li class="mobNav__line mobNav__line--3"></li>
      <li class="mobNav__line mobNav__line--4"></li>
    </ul>
  </nav>
  <!--  -->
  <a href="/Contact" class="cta out" data-astro-reload>
    <div class="cta__co">
      <span class="cta__1">GET IN TOUCH</span><span class="cta__2"
        >GET IN TOUCH</span
      >
    </div>
  </a>
  <label class="hamburger nav__menu-button">
    <input type="checkbox" class="nav__menu-checkbox" />
    <svg viewBox="0 0 32 32">
      <path
        class="line line-top-bottom"
        d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"
      ></path>
      <path class="line" d="M7 16 27 16"></path>
    </svg>
  </label>
</header>
<Dropdown />
<script>
  import gsap from "gsap";
  const line = document.querySelector(".line") as HTMLElement;
  const navElemnts = document.querySelectorAll("li");
  const nav = document.querySelector("nav");
  const navCheckbox = document.querySelector(".nav__menu-checkbox");
  const navLinks = document.querySelectorAll(".mobNav--links");

  function move(x: string, width?: string) {
    line.style.opacity = "1";
    line.style.left = x;
    line.style.width = width;
  }
  navElemnts.forEach((el, i) => {
    el.addEventListener("mouseenter", e => {
      switch (i) {
        case 0:
          move("4rem", "8rem");
          break;
        case 1:
          move("15rem", "10ch");
          break;
        case 2:
          move("32.5rem", "8ch");
          break;
        case 3:
          move("49rem", "5ch");
          break;

        default:
          break;
      }
    });
  });
  nav.addEventListener("mouseleave", () => {
    line.style.opacity = "0";
  });

  const showNav = function () {
    navLinks.forEach(nav => nav.classList.add("display"));
    gsap.to(".mobNav__line", {
      width: "100%",
      transformOrigin: "left",
      duration: 0.15,
      stagger: 0.1,
    });
    gsap.fromTo(
      ".mobNav--links",
      {
        translateY: 50,
        opacity: 0,
      },
      {
        duration: 0.05,
        delay: 0.3,
        stagger: 0.1,
        opacity: 1,
        translateY: 0,
        ease: "power1.out",
      }
    );
  };
  const hideNav = function () {
    navLinks.forEach(nav => nav.classList.remove("display"));

    gsap.fromTo(
      ".mobNav--links",
      {
        translateY: 0,
        duration: 0.05,
        stagger: 0.1,
      },
      {
        duration: 0.05,
        translateY: 50,
        stagger: 0.05,
        opacity: 0,
        ease: "power1.out",
      }
    );
    gsap.to(".mobNav__line", {
      width: 0,
      transformOrigin: "left",
      delay: 0.4,
      duration: 0.15,
      stagger: 0.1,
    });
  };
  navCheckbox.addEventListener("change", e => {
    const checked = (e.target as HTMLInputElement).checked;
    if (checked) {
      showNav();
    } else {
      hideNav();
    }
  });
  const gsapImg = gsap.timeline();

  const root = document.documentElement;
  let timeout;
  window.addEventListener("scroll", () => {
    gsap.to(":root", {
      "--scroll-color": "#ea580c",
      duration: 0.5,
    });

    clearTimeout(timeout);

    timeout = setTimeout(() => {
      gsap.to(":root", {
        "--scroll-color": "rgb(234, 88, 12, 0.4)",
        duration: 0.5,
      });
    }, 500);
  });
</script>
