---
import "../styles/Services.scss";
import Icon from "astro-icon";
---

<section class="offers">
  <div class="offers__container">
    <h1 class="offers__title">OUR<br />SERVICES</h1>

    <div class="offers__list">
      <!-- Offer -->
      <a href="/" class="offer">
        <div class="offer__left">
          <div class="offer__name">
            <span class="offer__left--icon">
              <Icon class="offer__icon" name="ci:figma" />
            </span>
            <p class="offer__type">
              <span>Design</span>
              <span>Design</span>
            </p>
          </div>
        </div>
        <div class="offer__mid">
          <p>
            By prioritizing the needs of our users, we craft a distinctive
            narrative for your company, skillfully weaving in captivating visual
            elements
          </p>
        </div>
        <div class="offer__right">
          <div class="offer__icon-2">
            <Icon class="offer__icon-2--icon" name="mi:arrow-up" />
            <Icon class="offer__icon-2--icon" name="mi:arrow-up" />
          </div>
        </div>
      </a>
      <!-- Offer -->
      <a href="/" class="offer">
        <div class="offer__left">
          <div class="offer__name">
            <span class="offer__left--icon">
              <Icon
                class="offer__icon"
                name="fluent:window-dev-tools-24-filled"
              />
            </span>
            <p class="offer__type">
              <span>Development</span>
              <span>Development</span>
            </p>
          </div>
        </div>
        <div class="offer__mid">
          <p>
            We prioritize our clients' needs, tailoring development solutions
            that drive your company's growth and innovation
          </p>
        </div>
        <div class="offer__right">
          <div class="offer__icon-2">
            <Icon class="offer__icon-2--icon" name="mi:arrow-up" />
            <Icon class="offer__icon-2--icon" name="mi:arrow-up" />
          </div>
        </div>
      </a>
      <!-- Offer -->
      <a href="/" class="offer">
        <div class="offer__left">
          <div class="offer__name">
            <span class="offer__left--icon">
              <Icon class="offer__icon" name="tabler:ad-2" />
            </span>
            <p class="offer__type">
              <span>Marketing</span>
              <span>Marketing</span>
            </p>
          </div>
        </div>
        <div class="offer__mid">
          <p>
            We focus on our clients' objectives, shaping marketing strategies
            that elevate your brand and drive results
          </p>
        </div>
        <div class="offer__right">
          <div class="offer__icon-2">
            <Icon class="offer__icon-2--icon" name="mi:arrow-up" />
            <Icon class="offer__icon-2--icon" name="mi:arrow-up" />
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
