---
import Navigation from "../components/Navigation.astro";
import Myfooter from "../components/Myfooter.astro";
import favicon from "/images/favicon.png?url";
interface Props {
  titleProp: string;
  description?: string;
}

const {
  titleProp,
  description = "Kitilab a Digital Solution Agency based in Morocco, Agadir",
} = Astro.props;
const title = titleProp + " - Kitilab";
import "../styles/Main.scss";
import { SEO } from "astro-seo";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href={favicon} type="image/x-icon" />
    <link rel="sitemap" href="../../public/sitemap-0.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      description={description}
      twitter={{
        creator: "@Youness-ailal",
      }}
      extend={{
        meta: [{ name: "author", content: "Youness Ailal" }],
      }}
    />
  </head>
  <body>
    <Navigation />
    <main class="smooth-wrapper">
      <slot />
    </main>
    <Myfooter />

    <!-- <script>
      import Lenis from "@studio-freight/lenis";
      const lenis = new Lenis({
        duration: 1.4,
      });

      lenis.on("scroll", e => {});

      function raf(time) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }

      requestAnimationFrame(raf);
    </script> -->
  </body>
</html>
